<header>
  <div class="header__container">
    <span *ngIf="firstLineText" class="header__text">{{firstLineText}}</span>
    <span *ngIf="secondLineText" class="header__text header__text--bottom">{{secondLineText}}</span>
  </div>
  <div routerLink="/" class="header__logo">
    <div class="header__brand">
      <span>Twój </span>
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           viewBox="0 0 172 172"
           style=" fill:#000000;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
           stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
           font-size="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g id="original-icon" fill="#000000">
            <path
              d="M79.92688,5.375c-9.89,0 -19.18959,2.87605 -27.06396,7.82104l-13.57397,1.01831c-16.07125,1.1825 -28.08354,14.73002 -27.35791,30.80127l1.26501,27.7096c-1.77375,1.15563 -3.22521,2.7129 -4.24646,4.5404c-1.98875,3.52062 -2.33917,7.90377 -1.07605,12.66065c1.8275,6.82625 6.69041,13.16455 11.93103,15.85205l0.7821,19.24292c0.59125,14.835 10.5329,27.70792 24.7229,32.03479l22.68628,6.90772c5.88562,1.77375 11.95728,2.6875 18.00415,2.6875c6.04688,0 12.11853,-0.91375 18.00415,-2.6875l22.68628,-6.90772c14.19,-4.32688 24.13165,-17.19979 24.7229,-32.03479l0.7821,-19.24292c1.505,-0.7525 3.00517,-1.8254 4.45642,-3.2229c3.49375,-3.30563 6.21149,-7.92602 7.47461,-12.62915c1.26313,-4.75688 0.9127,-9.14002 -1.07605,-12.66065c-1.02125,-1.8275 -2.47271,-3.38478 -4.24646,-4.5404l1.26501,-27.7096c0.72563,-16.07125 -11.28666,-29.61877 -27.35791,-30.80127l-13.57397,-1.01831c-7.87437,-4.945 -17.17396,-7.82104 -27.06396,-7.82104zM79.92688,10.75h12.14624c3.5475,0 7.03957,0.40103 10.37207,1.20728c5.375,1.26312 10.40335,3.49354 14.89148,6.50354c11.36812,7.57875 19.2446,20.18417 20.29273,34.6698l0.29394,4.14148c0.37625,5.18688 1.93416,10.31874 4.51416,14.83374c0.02687,0.05375 0.07811,0.13522 0.10498,0.18897l0.94483,1.5852c0.26875,0.45687 0.50874,0.91312 0.75061,1.37c0.26875,0.5375 0.50874,1.1002 0.75061,1.6377c0.5375,1.20937 0.99437,2.4473 1.34375,3.7373c0.24187,0.80625 0.43189,1.61292 0.59314,2.44604c0.26875,1.45125 1.69292,2.38936 3.14417,2.12061c1.45125,-0.26875 2.42148,-1.69292 2.12585,-3.14417c-0.08062,-0.48375 -0.19106,-0.93874 -0.32544,-1.42249c-0.40312,-1.80063 -0.96519,-3.5769 -1.66394,-5.27002c0.77937,0 1.58142,0.13669 2.41455,0.35169c2.41875,0.645 4.30336,1.93668 5.45898,3.7373c0.1075,0.16125 0.21332,0.29542 0.29395,0.45667c0.7525,1.34375 1.12854,2.92937 1.12854,4.70313c0,1.23625 -0.18539,2.55039 -0.56164,3.92102c-0.99437,3.73562 -3.22689,7.52899 -5.96814,10.13587c-0.16125,0.16125 -0.3479,0.32229 -0.50915,0.45666l0.05249,-1.59045c0.05375,-1.47812 -1.10439,-2.73873 -2.58252,-2.79248c-1.53187,-0.05375 -2.73873,1.10439 -2.79248,2.58252l-0.18896,4.48791l-0.21521,5.375l-0.69812,17.62622c-0.51063,12.55062 -8.91998,23.46146 -20.93311,27.11646l-22.68628,6.88147c-10.75,3.27875 -22.08789,3.27875 -32.83789,0l-22.68628,-6.88147c-12.01313,-3.655 -20.42248,-14.56583 -20.93311,-27.11646l-0.63513,-15.93079c0,-0.02956 0.01843,-0.05967 0.01575,-0.08923l-0.47766,-11.85755c-0.05913,-1.48081 -1.28479,-2.62833 -2.79248,-2.57727c-1.4835,0.05912 -2.6364,1.30898 -2.57727,2.79248l0.07874,1.94214c-2.87294,-2.537 -5.42023,-6.5056 -6.51404,-10.56104c-0.91375,-3.35937 -0.69623,-6.33977 0.56689,-8.62414c0.08063,-0.16125 0.18645,-0.29542 0.29395,-0.45667c1.15562,-1.80062 3.04023,-3.0923 5.45898,-3.7373c1.935,-0.51063 3.86559,-0.48564 5.55872,0.07874c0.94063,0.3225 1.93626,0.1096 2.63501,-0.5354c0.24187,-0.18812 0.43189,-0.42937 0.59314,-0.69812l1.29126,-2.25708c2.63375,-4.56875 4.24289,-9.75521 4.61914,-15.02271l0.29394,-4.14148c1.04813,-14.48562 8.9246,-27.09105 20.29273,-34.6698c4.48813,-3.01 9.51648,-5.24042 14.89148,-6.50354c3.3325,-0.80625 6.82457,-1.20728 10.37207,-1.20728zM79.42822,18.823c-1.48081,0.11825 -2.58529,1.40884 -2.46704,2.88696l0.41992,5.19653c0.11019,1.40825 1.285,2.47754 2.67175,2.47754c0.07256,0 0.14265,-0.00512 0.21521,-0.0105c1.48081,-0.11825 2.58529,-1.41409 2.46704,-2.89221l-0.41467,-5.19653c-0.11556,-1.48081 -1.44365,-2.59885 -2.89221,-2.46179zM45.1521,19.16418c-9.1375,8.51937 -15.18899,20.3175 -16.15649,33.59375l-0.29394,4.13623c-0.3225,4.43437 -1.66415,8.84376 -3.89478,12.68689l-0.35168,0.56164c-1.90813,-0.29563 -3.92039,-0.24292 -5.96289,0.2677l-1.18628,-25.63623c-0.59125,-13.16875 9.24521,-24.24356 22.38708,-25.21106zM126.8479,19.16418l5.45898,0.39893c13.14188,0.9675 22.97833,12.04231 22.38708,25.21106l-1.18628,25.63623c-2.0425,-0.51062 -4.05477,-0.56333 -5.96289,-0.2677l-0.35169,-0.56164c-2.23063,-3.84313 -3.57227,-8.25251 -3.89478,-12.68689l-0.29394,-4.13623c-0.9675,-13.27625 -7.01899,-25.07437 -16.15649,-33.59375zM94.51392,19.54211c-1.46738,-0.22844 -2.84724,0.75834 -3.08643,2.22034l-0.83984,5.13354c-0.24188,1.46469 0.7504,2.84724 2.21509,3.08643c0.14781,0.02419 0.29579,0.03674 0.44092,0.03674c1.29269,0 2.43051,-0.94021 2.64551,-2.25708l0.83984,-5.13354c0.23918,-1.46469 -0.7504,-2.84993 -2.21509,-3.08643zM107.87793,24.22949c-1.04712,-0.00831 -2.04863,0.60003 -2.48804,1.62195l-2.03662,4.72412c-0.58856,1.35988 0.03893,2.94147 1.40149,3.52734c0.34669,0.1505 0.70811,0.22571 1.06555,0.22571c1.04006,0 2.02898,-0.60876 2.46704,-1.62195l2.03662,-4.72412c0.58856,-1.36256 -0.03893,-2.94403 -1.40149,-3.53259c-0.33997,-0.14848 -0.69552,-0.21769 -1.04456,-0.22046zM119.70923,32.67517c-0.68263,0.086 -1.33439,0.42719 -1.78992,1.01306l-3.09692,3.99451c-0.90838,1.17175 -0.69409,2.85774 0.47766,3.7688c0.48644,0.37894 1.06513,0.5669 1.64294,0.5669c0.80088,0 1.59642,-0.36193 2.12586,-1.04456l3.09692,-3.98926c0.90838,-1.17175 0.69409,-2.85774 -0.47766,-3.7688c-0.58453,-0.45419 -1.29626,-0.62665 -1.97888,-0.54065zM86,64.5c-5.53894,0 -10.06208,4.22509 -10.63452,9.61621c-2.87025,-2.62569 -6.67835,-4.24121 -10.86548,-4.24121c-8.89294,0 -16.125,7.23206 -16.125,16.125c0,8.89294 7.23206,16.125 16.125,16.125c8.89294,0 16.125,-7.23206 16.125,-16.125c0,-0.67994 -0.05585,-1.34669 -0.13647,-2.00513c0.05913,-0.22306 0.13647,-0.4405 0.13647,-0.68237v-8.0625c0,-2.96431 2.41069,-5.375 5.375,-5.375c2.96431,0 5.375,2.41069 5.375,5.375v8.0625c0,0.24187 0.07735,0.45931 0.13647,0.68237c-0.08062,0.65844 -0.13647,1.32519 -0.13647,2.00513c0,8.89294 7.23206,16.125 16.125,16.125c8.89294,0 16.125,-7.23206 16.125,-16.125c0,-8.89294 -7.23206,-16.125 -16.125,-16.125c-4.18712,0 -7.99523,1.61552 -10.86548,4.24121c-0.57244,-5.39113 -5.09558,-9.61621 -10.63452,-9.61621zM64.5,75.25c5.92862,0 10.75,4.82138 10.75,10.75c0,5.92863 -4.82138,10.75 -10.75,10.75c-5.92862,0 -10.75,-4.82137 -10.75,-10.75c0,-5.92862 4.82138,-10.75 10.75,-10.75zM107.5,75.25c5.92863,0 10.75,4.82138 10.75,10.75c0,5.92863 -4.82137,10.75 -10.75,10.75c-5.92863,0 -10.75,-4.82137 -10.75,-10.75c0,-5.92862 4.82137,-10.75 10.75,-10.75zM86,107.5c-17.22419,0 -31.7209,8.50442 -34.47559,20.21924c-0.38162,1.62862 -0.00588,3.31033 1.02881,4.61914c1.02663,1.29269 2.55434,2.03662 4.20447,2.03662h14.57129c2.86487,0 5.73995,-0.67108 8.3092,-1.93689l5.17554,-2.54578c0.7525,-0.37087 1.61737,-0.37087 2.37256,0l5.17554,2.54578c2.57194,1.26581 5.44433,1.93164 8.3092,1.93164h14.57129c1.64744,0 3.18053,-0.73868 4.20447,-2.03137c1.03469,-1.30882 1.41043,-2.99308 1.02881,-4.62439c-2.752,-11.71213 -17.2514,-20.21399 -34.47559,-20.21399zM86,112.875c14.51788,0 27.09231,6.90956 29.24231,16.125h-14.57129c-2.04788,0 -4.09839,-0.48005 -5.93664,-1.38574l-5.17554,-2.54578c-1.11531,-0.55094 -2.33603,-0.82409 -3.55884,-0.82409c-1.22281,0 -2.44353,0.27585 -3.55884,0.82409l-5.18079,2.54578c-1.83556,0.90569 -3.88621,1.38574 -5.9314,1.38574l-14.57129,-0.05249c2.15269,-9.16437 14.72443,-16.07251 29.24231,-16.07251zM80.625,139.75c-1.4835,0 -2.6875,1.204 -2.6875,2.6875c0,1.4835 1.204,2.6875 2.6875,2.6875h10.75c1.4835,0 2.6875,-1.204 2.6875,-2.6875c0,-1.4835 -1.204,-2.6875 -2.6875,-2.6875z"></path>
          </g>
        </g>
      </svg>
      <!--
      source:
           <a href="https://icons8.com/icon/65988/old-man">
              Old Man icon by Icons8
           </a>
      -->
      <span> Profesor</span>
    </div>
  </div>
</header>
