$mainColor: #00cfff;

header {
  position: relative;
  height: 180px;
}

.header__container {
  margin-top: 20px;
  position: absolute;
  width: 100%;
  top: 90px;
  text-align: center;
  z-index: 0;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    border: 1px solid $mainColor;
  }
}

.header__text {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.header__logo {
  position: absolute;
  right: 0;
  transform: translateX(0);
  height: 60px;
  padding: 7.5px 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  cursor: pointer;
  white-space: nowrap;

  &:focus, &:active {
    outline: none;
    border: none;
  }
}

.header__logo--color {
  color: $mainColor;
}

.header__svg {
  height: 35px;
  width: 35px;
}

@media all and (min-width: 600px) {
  header {
    height: 250px;
  }
  .header__text {
    font-size: 30px;
  }
  .header__logo {
    text-align: center;
  }
  .header__text--bottom {
    margin-left: 200px;
  }
  .header__logo {
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
  }
  .header__svg {
    height: 45px;
    width: 45px;
  }
}

@media all and (min-width: 345px) {
  .header__container {
    padding: 0 40px;
  }
}

@media all and (min-width: 450px) {
  header {
    height: 200px;
  }
  .header__text {
    font-size: 20px;
  }
}

@media all and (min-width: 600px) {

}
@media all and (max-width: 800px) {
  .header__text--bottom {
    margin: 0;
  }
}
