<app-header [firstLineText]="'POZNAJ OPINIE O SWOIM WYKŁADOWCY'"
            [secondLineText]="'PODZIEL SIĘ SWOIMI SPOSTRZEŻENIAMI'">
</app-header>
<section>
  <div class="container-fluid justify-content-center main">
    <div class="row">
      <div class="col-12 col-lg-7 order-lg-2 main__option">
        <h2 class="mb-4 main__header">Popularne uczelnie:</h2>
        <div class="row justify-content-around main__imageContainer">
          <div routerLink="/uni/{{ids[0]._id}}" id="img-us" class="col-11 col-sm-7 col-md-5 main__image">
            <div class="image__us">
            </div>
          </div>
          <div routerLink="/uni/{{ids[1]._id}}" class="col-11 col-sm-7 col-md-5 main__image">
            <div class="image__umcs">
            </div>
          </div>
          <div routerLink="/uni/{{ids[2]._id}}" class="col-11 col-sm-7 col-md-5 main__image">
            <div class="image__uwr">
            </div>
          </div>
          <div routerLink="/uni/{{ids[3]._id}}" class="col-11 col-sm-7 col-md-5 main__image">
            <div class="image__sum">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 order-lg-1 main__option main_option--left">
        <h2 class="mb-4 main__header">Miasta:</h2>
        <ul class="main__list">
          <li *ngFor="let element of cities" class="main__element">
            <span (click)="select(element)" class="element__text">{{element | titlecase}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showError" class="mx-auto w-75 mt-4">
  <ngb-alert [dismissible]="false"  class="text-center" type="danger">Błąd autoryzacji - Zaloguj się ponownie</ngb-alert>
</div>


