$myColor: #00cfff;

.main__list {
  list-style: none;
  padding:0;
  margin: 30px auto;
}

.main__element {
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  margin: 20px 15px;
  width: 85%;
  transition: 200ms linear transform;
}
.main__header {
  font-weight: bold;
}
.element__text {
  position: relative;
  display: inline-block;
  transition: 200ms linear all;
  height: 100%;
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: $myColor;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover:after {
    animation: underlineText 400ms linear forwards;
  }
  &:hover {
    transform: scale(1.1);
  }
}
.main__option {
  text-align: center;
  padding: 30px;
}
.main_option--left {
  padding: 30px 0px;
}
.main__imageContainer {
}
.main__image {
  margin: 20px 0;
  height: 200px;
  cursor: pointer;
  transition: 200ms linear transform;
  padding:0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.75);

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}
@mixin img {
  display: inline-block;
  height: 200px;
  width: 200px;
}
.image__umcs, .image__uwr, .image__us, .image__sum{
  @include img;
}
.image__umcs {
  background: url("src/assets/img_homepage/umcs.jpg") no-repeat ;
}
.image__uwr {
  background: url("src/assets/img_homepage/uwr.png") no-repeat ;
}
.image__us {
  background: url("src/assets/img_homepage/us.png") no-repeat ;
}
.image__sum {
  background: url("src/assets/img_homepage/sum.png") no-repeat ;
}
@media all and (min-width: 600px) {
  .main__element {
    width: 60%;
  }
}

@keyframes underlineText {
  from {
    width: 0px;
    }
  to {
    width: 100px;
  }
}


