form {
  position: relative;
  left: 2%;
  width: 96%;
  margin-bottom: 20px;

  .header-select {
    cursor: pointer;
    margin-right: 5px;
  }

  input {
    width: 200px;
  }

  .select-uni {
    span {
      cursor: pointer;
      font-size: 20px;

    }
  }
}

ngb-pagination ::ng-deep ul > li.active  {
  a{
    background-color: #00cfff !important;
    border-color: #00cfff !important;
    z-index: 0 !important;
  }

}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #00cfff;
}

ngb-pagination ::ng-deep ul > li.disabled > a {
  color: rgba(115, 115, 115, 0.89);
}

.lectRequest{
  cursor: pointer;

  &:hover{
    color: #00cfff;
  }
}

.button {
  background-color: #00cfff;
  color: white;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #0095b8;
  }
}

.button-outlined {
  border: 1px solid #00cfff;
  color: #00cfff;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #00cfff;
    color: white;
  }
}

.star {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  form {
    position: relative;
    left: 10%;
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  form {
    position: relative;
    left: 15%;
    width: 70%;
  }
}
