<form>
  <div class="d-flex justify-content-between mb-3">
    <div class="form-group d-flex">
      <label for="search" class="p-2 font-weight-bold">Wyszukaj:</label>
      <input id="search" class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
    </div>
  </div>

  <app-spinner *ngIf="(service.loading$ | async)"
               [isBig]="true"
               [marginTop]="'mt-5'">
  </app-spinner>

  <h5 *ngIf="(lect$ | async)?.length === 0 && !(service.loading$ | async)" id="no-result"
      class="text-center text-danger">
    BRAK WYNIKÓW
  </h5>
  <table [ngStyle]="{'opacity': (lect$ | async)?.length > 0 && !(service.loading$ | async) ? '1' : '0' }" class="table table-striped">
    <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">
        <span class="header-select">Imię</span>
        <span *ngIf="service.state.sortColumn == 'name'">
         <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
         <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
        </span>
      </th>
      <th class="text-center" scope="col" sortable="surname" (sort)="onSort($event)">
        <span class="header-select">Nazwisko</span>
        <span *ngIf="service.state.sortColumn == 'surname'">
         <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
         <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
        </span>
      </th>
      <th class="text-center" scope="col" sortable="faculty" (sort)="onSort($event)">
        <span class="header-select">Wydział</span>
        <span *ngIf="service.state.sortColumn == 'faculty'">
          <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
          <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
        </span>
      </th>
      <th class="text-center" scope="col" sortable="summaryRate" (sort)="onSort($event)">
        <span class="header-select">Ocena</span>
        <span *ngIf="service.state.sortColumn == 'summaryRate'">
         <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
         <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
        </span>
      </th>
      <th class="text-center">
        Wybierz
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lect of lect$ | async">
      <td>
        <ngb-highlight [result]="lect.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight [result]="lect.surname" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight [result]="lect.faculty" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight class="font-weight-bold" [ngStyle]="{'color': getColor(lect.summaryRate)}"
                       [result]="lect.summaryRate | rate" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="select-uni text-center">
        <span ngbTooltip="Oceny prowadzącego" (click)="navigateToUni(lect._id)"><fa-icon [icon]="selectIcon"></fa-icon></span>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="(lect$ | async)?.length > 0 && !(service.loading$ | async)" class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</form>

<div (click)="openModal(content)" class="text-center lectRequest">
  Brakuje prowadzącego? Poproś o dodanie nowego.
</div>

<div *ngIf="warning" class="mx-auto w-75 mt-4">
  <ngb-alert [dismissible]="false" class="text-center" type="danger">Aby wysłać prośbę, musisz być zalogowanym
    użytkownikiem
  </ngb-alert>
</div>

<div *ngIf="success" class="mx-auto w-75 mt-4">
  <ngb-alert [dismissible]="false" class="text-center" type="success">
    Twoja prośba została wysłana i oczekuje na weryfikację
  </ngb-alert>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Prośba o dodanie prowadzącego</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--    <app-spinner *ngIf="isLoading"></app-spinner>-->
    <form [formGroup]="lectForm">
      <h5 class="text-center mb-4 font-weight-bold">{{nazwaUczelni.toUpperCase()}}</h5>
      <div class="form-group">
        <label for="name">Imię</label>
        <input formControlName="name" id="name" type="text" class="form-control w-100">
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input formControlName="surname" id="surname" type="text" class="form-control w-100">
      </div>
      <div class="form-group">
        <label for="faculty">Wydział</label>
        <input formControlName="faculty" id="faculty" type="text" class="form-control w-100">
      </div>
      <h5 style="font-size: 16px" class="text-center px-3 pt-2 text-danger">Przed wysłaniem zgłoszenia upewnij się, że
        na liście nie znajduję się prowadzący, którego szukasz</h5>
      <div class="d-flex mt-3 justify-content-center">
        <button (click)="modalService.dismissAll()" class="btn button-outlined mr-1">Anuluj</button>
        <button (click)="sendRequest()" [disabled]="!lectForm.valid" class="btn ml-1 button">Wyślij</button>
      </div>
    </form>
  </div>
</ng-template>


