.mainContainer {
  padding: 10px;

}

.teacherInfo {
  padding: 0;

}

.teacherComment {
}

.title {
  padding: 10px;
  font-weight: bold;
}

.line {
  width: 50%;
  background-color: #00cfff;
}

.mainInformation {
}

.contForMainStar {
  position: relative;
  height: 50px;
  width: 100%;
}

.stars {
  margin: 20px;
}

ngb-pagination ::ng-deep ul > li.active  {
  a{
    background-color: #00cfff !important;
    border-color: #00cfff !important;
    z-index: 0 !important;
  }
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #00cfff;
}

ngb-pagination ::ng-deep ul > li.disabled > a {
  color: rgba(115, 115, 115, 0.89);
}


@mixin generalStarSettings {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.yellowStar {
  @include generalStarSettings;

}

.star-00 {
  opacity: 0;
}

.star-02 {
  left: calc(50% - 14px);
  overflow: hidden;
  width: 21px;
}

.star-05 {
  left: calc(50% - 12px);
  overflow: hidden;
  width: 25px;
}

.star-07 {
  left: calc(50% - 10px);
  overflow: hidden;
  width: 30px;
}

.greyStar {
  @include generalStarSettings;
}
.startAnimation {
  opacity: 0;
  animation: loadAnimation 500ms  linear forwards;
}
.options {
  opacity: 0;
  animation: loadAnimation 500ms linear forwards;
}
.contForComments {
  margin: 30px 0;
}

.comment {
  opacity: 0;
  border-radius: 10px;
  height: 100px;
  position: relative;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 20px;
  transition: all linear 200ms;
  box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.47);

  &:first-child {
    animation: loadAnimation 500ms 200ms linear forwards;
  }

  &:nth-child(2) {
    animation: loadAnimation 500ms 500ms linear forwards;
  }

  &:nth-child(3) {
    animation: loadAnimation 500ms 800ms linear forwards;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.user {
  //font-family: 'Caveat', cursive;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //color: #00cfff;
  top: 5px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.date {
  position: absolute;
  right: 20px;
  top: 5px;
}

.textComment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  max-height: 30px;
}

.rate {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination {
  margin-left: 11px;
}

.contFullComment {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

.fullComment {
  border: 1px solid black;
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  max-height: 500px;
  width: 500px;
  padding: 25px;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fullCommentAuthor {

}

.fullCommentDate {

}

.fullCommentMarks {
  margin: 0;
}

.fullCommentText {
  max-height: 100px;
  overflow: auto;
}

.fullCommentMainMarks {
  margin-top: 20px;
}

.closeFullComment {
  margin-top: 10px;
  & .deleteButton {
    margin-right: 10px;
  }
  & .closeButton {
    margin-left: 10px;
  }
}
.additionalInfo {
  position: absolute;
  left:20px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  &:hover~.warning {
    display: block;
  }
}
.warning {
  display: none;
  position: absolute;
  left:40px;
  bottom: 40px;
  height: 100px;
  font-size: 14px;
  padding: 5px;
  width: 220px;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin-bottom: 10px;
  background-color: rgba(255, 59, 79, 0.72);
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: bold;
  font-size: 13px;
  transform: translate(-50%,-50%);
  animation: animationInfo ease-in-out infinite 0.5s;

}
@keyframes loadAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animationInfo {
  0% {
    transform: translate(-50%,-50%) scale(1);
  }
  50% {
    transform: translate(-50%,-50%) scale(1.1);
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
  }
}
@media all and (min-width: 992px) {
  .mainContainer {
    border: 1px solid black;
  }
  .stars {
    margin: 0;
    display: inline-block;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-left: 6px;
    }

    &:nth-child(2n-1) {
      margin-right: 6px;
    }
  }
}

@media all and (max-width: 420px) {
  .date {
    display: none;
  }
}

@media all and (max-width: 550px) {
  .fullComment {
    width: 300px;
  }
}
