<app-header [firstLineText]="('PROWADZĄCY - ' + lectData.name + ' ' + lectData.surname) | uppercase "></app-header>
<div class="container">
  <div class="row mainContainer">
    <div class="order-lg-2 col-12 col-lg-5 text-center teacherInfo">
      <h4 class="title">Szczegóły:</h4>
      <div class="mainInformation startAnimation">
        <h5>{{lectData.name}} {{lectData.surname}}</h5>
        <h5>{{lectData.faculty}}</h5>
        <hr class="line">
      </div>
      <div *ngFor="let element of elements" class="stars startAnimation">
        <h5>{{element.label}}</h5>
        <!-- sources from icon8 -->
        <svg *ngFor="let numofyellow of createArrayForYellowStars(element.rate)" xmlns="http://www.w3.org/2000/svg"
             x="0px" y="0px"
             width="30" height="30"
             viewBox="0 0 172 172"
             style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-size="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g>
              <path
                d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504z"
                fill="#fef6aa"></path>
              <path
                d="M84.624,33.712l0.172,-0.344l0.516,0.688l0.172,51.944l-56.416,-12.384l39.904,-5.504zM141.728,73.616l-54.352,13.072l33.712,52.632l-6.88,-38.7z"
                fill="#f9e65c"></path>
              <path
                d="M52.976,139.664c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l6.02,-9.288c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-6.02,9.288c-0.172,0.172 -0.516,0.344 -0.688,0.344zM60.888,127.28c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l2.752,-4.472c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-2.752,4.472c-0.172,0.172 -0.344,0.344 -0.688,0.344zM65.704,118.68c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l20.296,-31.648v-6.02c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v6.364c0,0.172 0,0.344 -0.172,0.516l-20.468,31.82c-0.172,0.172 -0.344,0.344 -0.688,0.344zM86.172,77.228c-0.516,0 -0.86,-0.344 -0.86,-0.86v-1.72c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v1.72c0,0.516 -0.344,0.86 -0.86,0.86zM86.172,70.348c-0.516,0 -0.86,-0.344 -0.86,-0.86v-36.12c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v36.12c0,0.516 -0.344,0.86 -0.86,0.86z"
                fill="#1f212b"></path>
              <path
                d="M120.744,139.664c-0.344,0 -0.516,-0.172 -0.688,-0.344l-33.884,-52.804c-0.172,-0.172 -0.172,-0.516 0,-0.86c0.172,-0.344 0.344,-0.516 0.688,-0.516l54.868,-12.384c0.516,-0.172 0.86,0.172 1.032,0.688c0.172,0.516 -0.172,0.86 -0.688,1.032l-53.664,12.212l33.196,51.772c0.172,0.344 0.172,0.86 -0.344,1.204c-0.172,0 -0.344,0 -0.516,0z"
                fill="#1f212b"></path>
              <path
                d="M86.86,86.86h-0.172l-56.76,-12.384c-0.516,-0.172 -0.688,-0.516 -0.688,-1.032c0,-0.516 0.516,-0.688 1.032,-0.688l56.76,12.384c0.516,0.172 0.688,0.516 0.688,1.032c0,0.516 -0.344,0.688 -0.86,0.688z"
                fill="#1f212b"></path>
              <path
                d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504l17.028,-34.744M86.688,29.928c-1.376,0 -2.58,0.688 -3.096,1.892l-16.168,33.024l-36.292,5.332c-1.376,0.172 -2.408,1.032 -2.752,2.408c-0.344,1.204 0,2.58 0.86,3.44l26.316,25.8l-6.192,36.464c-0.172,1.376 0.344,2.58 1.376,3.44c0.516,0.516 1.376,0.688 2.064,0.688c0.516,0 1.032,-0.172 1.548,-0.344l32.508,-17.2l32.508,17.2c0.516,0.344 1.032,0.344 1.548,0.344c0.688,0 1.376,-0.172 2.064,-0.688c1.032,-0.688 1.548,-2.064 1.376,-3.44l-6.192,-36.464l26.316,-25.8c0.86,-0.86 1.204,-2.236 0.86,-3.44c-0.344,-1.204 -1.548,-2.064 -2.752,-2.408l-36.292,-5.332l-16.168,-33.024c-0.86,-1.204 -2.064,-1.892 -3.44,-1.892z"
                fill="#1f212b"></path>
            </g>
          </g>
        </svg>
        <svg *ngFor="let numofgrey of createArrayForGreyStars(element.rate)" xmlns="http://www.w3.org/2000/svg" x="0px"
             y="0px"
             width="30" height="30"
             viewBox="0 0 172 172"
             style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
             stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
             font-size="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#000000">
              <path
                d="M86.68531,29.9018c-1.31236,0 -2.5127,0.745 -3.09063,1.92492l-16.21906,33.08648l-36.26109,5.30445c-1.29344,0.1892 -2.36556,1.09456 -2.77148,2.33812c-0.40592,1.24184 -0.07396,2.60894 0.86,3.52398l26.25352,25.76305l-6.19805,36.38203c-0.22016,1.29172 0.31274,2.59561 1.37398,3.36273c0.59856,0.43344 1.30354,0.65508 2.01563,0.65508c0.5504,0 1.10346,-0.13317 1.60914,-0.39977l32.42805,-17.16305l32.42805,17.16305c0.50568,0.26832 1.05538,0.39977 1.60578,0.39977c0.71036,0 1.42042,-0.22164 2.01898,-0.65508c1.06124,-0.76884 1.59414,-2.07101 1.37398,-3.36273l-6.19805,-36.38203l26.25351,-25.76305c0.93224,-0.91504 1.2642,-2.28214 0.86,-3.52398c-0.40592,-1.24184 -1.47804,-2.14893 -2.77148,-2.33812l-36.26109,-5.30445l-16.21906,-33.08648c-0.57964,-1.17992 -1.77827,-1.92492 -3.09062,-1.92492zM87.05484,34.0943l16.64906,33.95992l35.68664,5.22383l-52.3357,11.88211v-5.31453c0,-0.47472 -0.38528,-0.86 -0.86,-0.86c-0.47472,0 -0.86,0.38528 -0.86,0.86v4.99539l-52.13078,-11.44875l36.46265,-5.33805l15.66813,-31.95773v33.42914c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86zM86.19484,73.82563c-0.47472,0 -0.86,0.38528 -0.86,0.86v1.72c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86v-1.72c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM140.58313,74.77297l-26.36437,25.87391l6.13086,35.98227l-32.03836,-49.99086zM33.16711,75.14586l51.7243,11.35805l-19.93117,30.87602c-0.258,0.39904 -0.14037,0.93294 0.25867,1.18922c0.14448,0.0946 0.30363,0.13773 0.46359,0.13773c0.28208,0 0.56051,-0.13849 0.72562,-0.39305l20.14953,-31.22203l32.61953,50.89453l-32.49187,-17.2l-32.11227,16.99508l5.08273,-7.87773c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.39904,-0.26144 -0.93294,-0.14365 -1.18922,0.25195l-5.2843,8.1868l6.22156,-36.51305zM63.87852,121.15922c-0.33008,-0.05829 -0.67787,0.08162 -0.87008,0.37961l-2.83195,4.3907c-0.258,0.39904 -0.14373,0.93294 0.25531,1.18922c0.14448,0.0946 0.30699,0.13773 0.46695,0.13773c0.28208,0 0.55887,-0.14021 0.72227,-0.39305l2.83195,-4.3907c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.09933,-0.06536 -0.20911,-0.10823 -0.31914,-0.12766z"></path>
            </g>
          </g>
        </svg>
      </div>
      <hr class="line startAnimation" style="margin-top: 0">
      <h5 style="font-weight: bold" class="startAnimation">Ogólna ocena</h5>
      <h5 *ngIf="percent!==0" style="font-weight: bold" class="startAnimation">{{percent + '%'}}</h5>
      <h5 *ngIf="percent===0" style="font-weight: bold" class="startAnimation">Nieoceniony</h5>
      <div class="contForMainStar startAnimation">
        <div class="yellowStar" [ngClass]="mainMark()">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="50" height="50"
               viewBox="0 0 172 172"
               style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none"
               font-size="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g>
                <path
                  d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504z"
                  fill="#fef6aa"></path>
                <path
                  d="M84.624,33.712l0.172,-0.344l0.516,0.688l0.172,51.944l-56.416,-12.384l39.904,-5.504zM141.728,73.616l-54.352,13.072l33.712,52.632l-6.88,-38.7z"
                  fill="#f9e65c"></path>
                <path
                  d="M52.976,139.664c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l6.02,-9.288c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-6.02,9.288c-0.172,0.172 -0.516,0.344 -0.688,0.344zM60.888,127.28c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l2.752,-4.472c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-2.752,4.472c-0.172,0.172 -0.344,0.344 -0.688,0.344zM65.704,118.68c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l20.296,-31.648v-6.02c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v6.364c0,0.172 0,0.344 -0.172,0.516l-20.468,31.82c-0.172,0.172 -0.344,0.344 -0.688,0.344zM86.172,77.228c-0.516,0 -0.86,-0.344 -0.86,-0.86v-1.72c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v1.72c0,0.516 -0.344,0.86 -0.86,0.86zM86.172,70.348c-0.516,0 -0.86,-0.344 -0.86,-0.86v-36.12c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v36.12c0,0.516 -0.344,0.86 -0.86,0.86z"
                  fill="#1f212b"></path>
                <path
                  d="M120.744,139.664c-0.344,0 -0.516,-0.172 -0.688,-0.344l-33.884,-52.804c-0.172,-0.172 -0.172,-0.516 0,-0.86c0.172,-0.344 0.344,-0.516 0.688,-0.516l54.868,-12.384c0.516,-0.172 0.86,0.172 1.032,0.688c0.172,0.516 -0.172,0.86 -0.688,1.032l-53.664,12.212l33.196,51.772c0.172,0.344 0.172,0.86 -0.344,1.204c-0.172,0 -0.344,0 -0.516,0z"
                  fill="#1f212b"></path>
                <path
                  d="M86.86,86.86h-0.172l-56.76,-12.384c-0.516,-0.172 -0.688,-0.516 -0.688,-1.032c0,-0.516 0.516,-0.688 1.032,-0.688l56.76,12.384c0.516,0.172 0.688,0.516 0.688,1.032c0,0.516 -0.344,0.688 -0.86,0.688z"
                  fill="#1f212b"></path>
                <path
                  d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504l17.028,-34.744M86.688,29.928c-1.376,0 -2.58,0.688 -3.096,1.892l-16.168,33.024l-36.292,5.332c-1.376,0.172 -2.408,1.032 -2.752,2.408c-0.344,1.204 0,2.58 0.86,3.44l26.316,25.8l-6.192,36.464c-0.172,1.376 0.344,2.58 1.376,3.44c0.516,0.516 1.376,0.688 2.064,0.688c0.516,0 1.032,-0.172 1.548,-0.344l32.508,-17.2l32.508,17.2c0.516,0.344 1.032,0.344 1.548,0.344c0.688,0 1.376,-0.172 2.064,-0.688c1.032,-0.688 1.548,-2.064 1.376,-3.44l-6.192,-36.464l26.316,-25.8c0.86,-0.86 1.204,-2.236 0.86,-3.44c-0.344,-1.204 -1.548,-2.064 -2.752,-2.408l-36.292,-5.332l-16.168,-33.024c-0.86,-1.204 -2.064,-1.892 -3.44,-1.892z"
                  fill="#1f212b"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="greyStar">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               width="50" height="50"
               viewBox="0 0 172 172"
               style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none"
               font-size="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#000000">
                <path
                  d="M86.68531,29.9018c-1.31236,0 -2.5127,0.745 -3.09063,1.92492l-16.21906,33.08648l-36.26109,5.30445c-1.29344,0.1892 -2.36556,1.09456 -2.77148,2.33812c-0.40592,1.24184 -0.07396,2.60894 0.86,3.52398l26.25352,25.76305l-6.19805,36.38203c-0.22016,1.29172 0.31274,2.59561 1.37398,3.36273c0.59856,0.43344 1.30354,0.65508 2.01563,0.65508c0.5504,0 1.10346,-0.13317 1.60914,-0.39977l32.42805,-17.16305l32.42805,17.16305c0.50568,0.26832 1.05538,0.39977 1.60578,0.39977c0.71036,0 1.42042,-0.22164 2.01898,-0.65508c1.06124,-0.76884 1.59414,-2.07101 1.37398,-3.36273l-6.19805,-36.38203l26.25351,-25.76305c0.93224,-0.91504 1.2642,-2.28214 0.86,-3.52398c-0.40592,-1.24184 -1.47804,-2.14893 -2.77148,-2.33812l-36.26109,-5.30445l-16.21906,-33.08648c-0.57964,-1.17992 -1.77827,-1.92492 -3.09062,-1.92492zM87.05484,34.0943l16.64906,33.95992l35.68664,5.22383l-52.3357,11.88211v-5.31453c0,-0.47472 -0.38528,-0.86 -0.86,-0.86c-0.47472,0 -0.86,0.38528 -0.86,0.86v4.99539l-52.13078,-11.44875l36.46265,-5.33805l15.66813,-31.95773v33.42914c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86zM86.19484,73.82563c-0.47472,0 -0.86,0.38528 -0.86,0.86v1.72c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86v-1.72c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM140.58313,74.77297l-26.36437,25.87391l6.13086,35.98227l-32.03836,-49.99086zM33.16711,75.14586l51.7243,11.35805l-19.93117,30.87602c-0.258,0.39904 -0.14037,0.93294 0.25867,1.18922c0.14448,0.0946 0.30363,0.13773 0.46359,0.13773c0.28208,0 0.56051,-0.13849 0.72562,-0.39305l20.14953,-31.22203l32.61953,50.89453l-32.49187,-17.2l-32.11227,16.99508l5.08273,-7.87773c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.39904,-0.26144 -0.93294,-0.14365 -1.18922,0.25195l-5.2843,8.1868l6.22156,-36.51305zM63.87852,121.15922c-0.33008,-0.05829 -0.67787,0.08162 -0.87008,0.37961l-2.83195,4.3907c-0.258,0.39904 -0.14373,0.93294 0.25531,1.18922c0.14448,0.0946 0.30699,0.13773 0.46695,0.13773c0.28208,0 0.55887,-0.14021 0.72227,-0.39305l2.83195,-4.3907c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.09933,-0.06536 -0.20911,-0.10823 -0.31914,-0.12766z"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <h5 class="startAnimation" *ngIf="percent>20"
          style="color: green; font-family: 'Caveat', cursive;">{{textMark}}</h5>
      <h5 class="startAnimation" *ngIf="percent<=20 && percent !== 0"
          style="color: red; font-family: 'Caveat', cursive;">{{textMark}}</h5>
      <h5 *ngIf="percent===0" style="font-weight: bold" class="startAnimation">Nieoceniony</h5>
    </div>
    <div class="order-lg-1 col-12 col-lg-7 text-center teacherComment">
      <h4 class="title">Opinie o wykładowcy:</h4>
      <div class="contForComments">
        <div *ngFor="let comment of activeComments" (click)="openComponent(comment)" class="comment">
          <div class="user">
            <span>Autor: {{comment.name}}</span>
          </div>
          <div class="date">
            <span>{{comment.date}}</span>
          </div>
          <div class="textComment">
            <span><div style="font-weight: bold; display: inline">Komentarz:</div> {{comment.comment}}</span>
          </div>
          <div class="rate">
            <span>Średnia ocen: </span>
            <span style="color: red; font-weight: bold;"
                  *ngIf="myAverage(comment.marks) <= 2"> {{myAverage(comment.marks) | number:'1.1'}} </span>
            <span style="color: green; font-width: bold;"
                  *ngIf="myAverage(comment.marks) > 2"> {{myAverage(comment.marks) | number:'1.1'}} </span>
          </div>

        </div>
      </div>
      <div class="options btn-group d-block">
        <button [disabled]="!canLeft" (click)="previousComments()" class="btn btn-dark mb-2">Poprzednie</button>
        <button class="btn btn-dark mb-2" id="comment-add"  *ngIf="isLoggedIn && !doubledComment" (click)="isAddCommentOpen = !isAddCommentOpen">Dodaj komentarz</button>
        <div class="btn btn-dark mb-2">{{page}}</div>
        <button [disabled]="!canRight" (click)="nextComments()" class="btn btn-dark mb-2">Następne</button>
        <div class="addComment">
        </div>
      </div>

    </div>
  </div>
</div>

<!--
  dynamic comp - comments
-->
<div *ngIf="isCommentOpen" (click)="closeComponent()" class="contFullComment">
</div>
<div *ngIf="isCommentOpen" class="fullComment">
  <div class="fullCommentAuthor">
    <h1>{{fullComment.name}}</h1>
  </div>
  <div class="fullCommentDate">
    <span>{{fullComment.date}}</span>
  </div>
  <hr class="line">
  <div class="row fullCommentMarks justify-content-center text-center">
      <span class="col-sm-6 col-12 p-0" style="white-space: nowrap" *ngFor="let el of fullComment.marks; let i = index">
        {{  commentRate[i].name + ': '}}
        <svg *ngFor="let numofyellow of createArrayForYellowStars(el)" xmlns="http://www.w3.org/2000/svg" x="0px"
             y="0px"
             width="20" height="20"
             viewBox="0 0 172 172"
             style=" fill:#000000; margin-bottom: 5px; white-space: nowrap;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
           font-size="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g>
            <path
              d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504z"
              fill="#fef6aa"></path>
            <path
              d="M84.624,33.712l0.172,-0.344l0.516,0.688l0.172,51.944l-56.416,-12.384l39.904,-5.504zM141.728,73.616l-54.352,13.072l33.712,52.632l-6.88,-38.7z"
              fill="#f9e65c"></path>
            <path
              d="M52.976,139.664c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l6.02,-9.288c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-6.02,9.288c-0.172,0.172 -0.516,0.344 -0.688,0.344zM60.888,127.28c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l2.752,-4.472c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-2.752,4.472c-0.172,0.172 -0.344,0.344 -0.688,0.344zM65.704,118.68c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l20.296,-31.648v-6.02c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v6.364c0,0.172 0,0.344 -0.172,0.516l-20.468,31.82c-0.172,0.172 -0.344,0.344 -0.688,0.344zM86.172,77.228c-0.516,0 -0.86,-0.344 -0.86,-0.86v-1.72c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v1.72c0,0.516 -0.344,0.86 -0.86,0.86zM86.172,70.348c-0.516,0 -0.86,-0.344 -0.86,-0.86v-36.12c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v36.12c0,0.516 -0.344,0.86 -0.86,0.86z"
              fill="#1f212b"></path>
            <path
              d="M120.744,139.664c-0.344,0 -0.516,-0.172 -0.688,-0.344l-33.884,-52.804c-0.172,-0.172 -0.172,-0.516 0,-0.86c0.172,-0.344 0.344,-0.516 0.688,-0.516l54.868,-12.384c0.516,-0.172 0.86,0.172 1.032,0.688c0.172,0.516 -0.172,0.86 -0.688,1.032l-53.664,12.212l33.196,51.772c0.172,0.344 0.172,0.86 -0.344,1.204c-0.172,0 -0.344,0 -0.516,0z"
              fill="#1f212b"></path>
            <path
              d="M86.86,86.86h-0.172l-56.76,-12.384c-0.516,-0.172 -0.688,-0.516 -0.688,-1.032c0,-0.516 0.516,-0.688 1.032,-0.688l56.76,12.384c0.516,0.172 0.688,0.516 0.688,1.032c0,0.516 -0.344,0.688 -0.86,0.688z"
              fill="#1f212b"></path>
            <path
              d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504l17.028,-34.744M86.688,29.928c-1.376,0 -2.58,0.688 -3.096,1.892l-16.168,33.024l-36.292,5.332c-1.376,0.172 -2.408,1.032 -2.752,2.408c-0.344,1.204 0,2.58 0.86,3.44l26.316,25.8l-6.192,36.464c-0.172,1.376 0.344,2.58 1.376,3.44c0.516,0.516 1.376,0.688 2.064,0.688c0.516,0 1.032,-0.172 1.548,-0.344l32.508,-17.2l32.508,17.2c0.516,0.344 1.032,0.344 1.548,0.344c0.688,0 1.376,-0.172 2.064,-0.688c1.032,-0.688 1.548,-2.064 1.376,-3.44l-6.192,-36.464l26.316,-25.8c0.86,-0.86 1.204,-2.236 0.86,-3.44c-0.344,-1.204 -1.548,-2.064 -2.752,-2.408l-36.292,-5.332l-16.168,-33.024c-0.86,-1.204 -2.064,-1.892 -3.44,-1.892z"
              fill="#1f212b"></path>
          </g>
        </g>
      </svg>
      </span>
  </div>
  <hr class="line">
  <div class="fullCommentText">
    <span style="font-weight: bold">Treść:</span> <br>
    <span>{{fullComment.comment}}</span>
  </div>

  <div class="fullCommentMainMarks">
    <span style="color: #c82333; font-weight: bold;"
          *ngIf="myAverage(fullComment.marks) <= 2"> Ogólna ocena: {{myAverage(fullComment.marks) | number:'1.1'}} </span>
    <span style="color: #28a745; font-weight: bold;"
          *ngIf="myAverage(fullComment.marks) > 2"> Ogólna ocena: {{myAverage(fullComment.marks) | number:'1.1'}} </span>
  </div>
  <div class="closeFullComment">
    <button class="btn btn-danger deleteButton" *ngIf="deleteStatus" (click)="deleteComment(fullComment)">Usuń komentarz</button>
    <button class="btn btn-dark closeButton" (click)="closeComponent()">Anuluj</button>
  </div>
</div>
<!--
  dynamic comp - add comment
-->
<div *ngIf="isAddCommentOpen" (click)="isAddCommentOpen = !isAddCommentOpen" class="contFullComment">
</div>
<div *ngIf="isAddCommentOpen" class="fullComment">
  <h4>Ocena - {{lectData.name}} {{lectData.surname}}</h4>
  <hr class="line">
  <form autocomplete="off" [formGroup]="newComment" (ngSubmit)="sendComment()">
  <div class="row fullCommentMarks justify-content-center text-center">

      <span class="col-sm-6 col-12" style="white-space: nowrap" *ngFor="let rate of myRate;let j = index">
        <span class="">{{rate.name}}:</span>
        <span style="cursor: pointer" *ngFor="let stars of createArrayForYellowStars(5); let i = index">
          <!--yellow-->

          <svg *ngIf="rate.rate > i" (click)="changeRate(j, i)" xmlns="http://www.w3.org/2000/svg" x="0px"
               y="0px"
               width="20" height="20"
               viewBox="0 0 172 172"
               style=" fill:#000000; margin-bottom: 5px; white-space: nowrap;">
        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
           font-size="none" style="mix-blend-mode: normal">
          <path d="M0,172v-172h172v172z" fill="none"></path>
          <g>
            <path
              d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504z"
              fill="#fef6aa"></path>
            <path
              d="M84.624,33.712l0.172,-0.344l0.516,0.688l0.172,51.944l-56.416,-12.384l39.904,-5.504zM141.728,73.616l-54.352,13.072l33.712,52.632l-6.88,-38.7z"
              fill="#f9e65c"></path>
            <path
              d="M52.976,139.664c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l6.02,-9.288c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-6.02,9.288c-0.172,0.172 -0.516,0.344 -0.688,0.344zM60.888,127.28c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l2.752,-4.472c0.172,-0.344 0.86,-0.516 1.204,-0.172c0.344,0.172 0.516,0.86 0.172,1.204l-2.752,4.472c-0.172,0.172 -0.344,0.344 -0.688,0.344zM65.704,118.68c-0.172,0 -0.344,0 -0.516,-0.172c-0.344,-0.172 -0.516,-0.86 -0.172,-1.204l20.296,-31.648v-6.02c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v6.364c0,0.172 0,0.344 -0.172,0.516l-20.468,31.82c-0.172,0.172 -0.344,0.344 -0.688,0.344zM86.172,77.228c-0.516,0 -0.86,-0.344 -0.86,-0.86v-1.72c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v1.72c0,0.516 -0.344,0.86 -0.86,0.86zM86.172,70.348c-0.516,0 -0.86,-0.344 -0.86,-0.86v-36.12c0,-0.516 0.344,-0.86 0.86,-0.86c0.516,0 0.86,0.344 0.86,0.86v36.12c0,0.516 -0.344,0.86 -0.86,0.86z"
              fill="#1f212b"></path>
            <path
              d="M120.744,139.664c-0.344,0 -0.516,-0.172 -0.688,-0.344l-33.884,-52.804c-0.172,-0.172 -0.172,-0.516 0,-0.86c0.172,-0.344 0.344,-0.516 0.688,-0.516l54.868,-12.384c0.516,-0.172 0.86,0.172 1.032,0.688c0.172,0.516 -0.172,0.86 -0.688,1.032l-53.664,12.212l33.196,51.772c0.172,0.344 0.172,0.86 -0.344,1.204c-0.172,0 -0.344,0 -0.516,0z"
              fill="#1f212b"></path>
            <path
              d="M86.86,86.86h-0.172l-56.76,-12.384c-0.516,-0.172 -0.688,-0.516 -0.688,-1.032c0,-0.516 0.516,-0.688 1.032,-0.688l56.76,12.384c0.516,0.172 0.688,0.516 0.688,1.032c0,0.516 -0.344,0.688 -0.86,0.688z"
              fill="#1f212b"></path>
            <path
              d="M86.688,33.368l17.028,34.744l38.012,5.504l-27.52,27.004l6.536,38.184l-34.056,-18.06l-34.056,18.06l6.536,-38.184l-27.52,-27.004l38.012,-5.504l17.028,-34.744M86.688,29.928c-1.376,0 -2.58,0.688 -3.096,1.892l-16.168,33.024l-36.292,5.332c-1.376,0.172 -2.408,1.032 -2.752,2.408c-0.344,1.204 0,2.58 0.86,3.44l26.316,25.8l-6.192,36.464c-0.172,1.376 0.344,2.58 1.376,3.44c0.516,0.516 1.376,0.688 2.064,0.688c0.516,0 1.032,-0.172 1.548,-0.344l32.508,-17.2l32.508,17.2c0.516,0.344 1.032,0.344 1.548,0.344c0.688,0 1.376,-0.172 2.064,-0.688c1.032,-0.688 1.548,-2.064 1.376,-3.44l-6.192,-36.464l26.316,-25.8c0.86,-0.86 1.204,-2.236 0.86,-3.44c-0.344,-1.204 -1.548,-2.064 -2.752,-2.408l-36.292,-5.332l-16.168,-33.024c-0.86,-1.204 -2.064,-1.892 -3.44,-1.892z"
              fill="#1f212b"></path>
          </g>
        </g>
      </svg>

          <!--grey-->
         <svg *ngIf="rate.rate <= i" (click)="changeRate(j, i)" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="20" height="20"
              viewBox="0 0 172 172"
              style=" fill:#000000;margin-bottom: 5px;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none"
               font-size="none" style="mix-blend-mode: normal">
              <path d="M0,172v-172h172v172z" fill="none"></path>
              <g fill="#000000">
                <path
                  d="M86.68531,29.9018c-1.31236,0 -2.5127,0.745 -3.09063,1.92492l-16.21906,33.08648l-36.26109,5.30445c-1.29344,0.1892 -2.36556,1.09456 -2.77148,2.33812c-0.40592,1.24184 -0.07396,2.60894 0.86,3.52398l26.25352,25.76305l-6.19805,36.38203c-0.22016,1.29172 0.31274,2.59561 1.37398,3.36273c0.59856,0.43344 1.30354,0.65508 2.01563,0.65508c0.5504,0 1.10346,-0.13317 1.60914,-0.39977l32.42805,-17.16305l32.42805,17.16305c0.50568,0.26832 1.05538,0.39977 1.60578,0.39977c0.71036,0 1.42042,-0.22164 2.01898,-0.65508c1.06124,-0.76884 1.59414,-2.07101 1.37398,-3.36273l-6.19805,-36.38203l26.25351,-25.76305c0.93224,-0.91504 1.2642,-2.28214 0.86,-3.52398c-0.40592,-1.24184 -1.47804,-2.14893 -2.77148,-2.33812l-36.26109,-5.30445l-16.21906,-33.08648c-0.57964,-1.17992 -1.77827,-1.92492 -3.09062,-1.92492zM87.05484,34.0943l16.64906,33.95992l35.68664,5.22383l-52.3357,11.88211v-5.31453c0,-0.47472 -0.38528,-0.86 -0.86,-0.86c-0.47472,0 -0.86,0.38528 -0.86,0.86v4.99539l-52.13078,-11.44875l36.46265,-5.33805l15.66813,-31.95773v33.42914c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86zM86.19484,73.82563c-0.47472,0 -0.86,0.38528 -0.86,0.86v1.72c0,0.47472 0.38528,0.86 0.86,0.86c0.47644,0 0.86,-0.38356 0.86,-0.86v-1.72c0,-0.47472 -0.38528,-0.86 -0.86,-0.86zM140.58313,74.77297l-26.36437,25.87391l6.13086,35.98227l-32.03836,-49.99086zM33.16711,75.14586l51.7243,11.35805l-19.93117,30.87602c-0.258,0.39904 -0.14037,0.93294 0.25867,1.18922c0.14448,0.0946 0.30363,0.13773 0.46359,0.13773c0.28208,0 0.56051,-0.13849 0.72562,-0.39305l20.14953,-31.22203l32.61953,50.89453l-32.49187,-17.2l-32.11227,16.99508l5.08273,-7.87773c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.39904,-0.26144 -0.93294,-0.14365 -1.18922,0.25195l-5.2843,8.1868l6.22156,-36.51305zM63.87852,121.15922c-0.33008,-0.05829 -0.67787,0.08162 -0.87008,0.37961l-2.83195,4.3907c-0.258,0.39904 -0.14373,0.93294 0.25531,1.18922c0.14448,0.0946 0.30699,0.13773 0.46695,0.13773c0.28208,0 0.55887,-0.14021 0.72227,-0.39305l2.83195,-4.3907c0.258,-0.39904 0.14373,-0.92958 -0.25531,-1.18586c-0.09933,-0.06536 -0.20911,-0.10823 -0.31914,-0.12766z"></path>
              </g>
            </g>
          </svg>
        </span>
      </span>
  </div>
  <hr class="line">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Komentarz</label>
    <textarea formControlName="description" maxlength="100" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="myAverage">
    <span style="color: red; font-weight: bold;"
          *ngIf="myAverage([myRate[0].rate, myRate[1].rate, myRate[2].rate, myRate[3].rate, myRate[4].rate]) <= 2"> Ogólna ocena: {{myAverage([myRate[0].rate, myRate[1].rate, myRate[2].rate, myRate[3].rate, myRate[4].rate]) | number:'1.1'}} </span>
    <span style="color: green; font-weight: bold;"
          *ngIf="myAverage([myRate[0].rate, myRate[1].rate, myRate[2].rate, myRate[3].rate, myRate[4].rate]) > 2"> Ogólna ocena: {{myAverage([myRate[0].rate, myRate[1].rate, myRate[2].rate, myRate[3].rate, myRate[4].rate]) | number:'1.1'}} </span>
  </div>

  <div class="closeFullComment">
    <button class="mr-1 btn btn-outline-dark" id="fullComment-delete" type="button" (click)="isAddCommentOpen = !isAddCommentOpen">Anuluj</button>
    <button class="ml-1 btn btn-dark" id="fullComment-add" type="submit">Dodaj</button>
  </div>
  </form>
  <div class="additionalInfo">
    <div class="info">i</div>
  </div>
  <div class="warning">Pamiętaj, że w internecie nie jesteś anonimowy. Znieważając kogoś popełniasz przestępstwo (art. 212 § 1 oraz art. 216 § 1 k.k.).</div>
</div>
