<div [ngClass]="{'side-bar--open': isOpen}" class="side-bar">
  <div *ngIf="isOpen" [ngClass]="{'rotate': isOpen}" (click)="toggleNavbar()" id="hamburger-close" class="hamburger">
    <fa-icon [icon]="hamburgerIcon"></fa-icon>
  </div>
  <div class="elements">
    <div class="element" (click)="navigateTo('')">
      STRONA GŁÓWNA
    </div>
    <div class="element" id="go-uni" (click)="navigateTo('uni')">
      UCZELNIE
    </div>
    <div *ngIf="isLoggedIn" id="gu-ulubjene" class="element" (click)="navigateTo('fav')">
      ULUBIONE
    </div>
  </div>
    <div class="footer">
      <span id="user-name" *ngIf="isLoggedIn">
        Zalogowano jako:{{user.name + ' ' + user.surname}}
      </span>
      <div [ngClass]="{'logout': isLoggedIn}" class="auth">
        <div class="icon">
          <fa-icon [icon]="userIcon"></fa-icon>
        </div>
        <div (click)="logOut()" *ngIf="isLoggedIn" class="auth-text">
          <span>WYLOGUJ</span>
        </div>
        <div (click)="openModal(false,content)" *ngIf="!isLoggedIn" class="auth-text">
          <span>ZALOGUJ</span>
        </div>
      </div>
      <div *ngIf="!isLoggedIn" class="register" (click)="openModal(true, content)">Zarejestruj nowe konto</div>
      <div class="info">Pietras Nowak Średniawa 2020 ©</div>
    </div>
  </div>
<div *ngIf="!isOpen" [ngClass]="{'rotate': isOpen}" (click)="toggleNavbar()" id="hamburger-open" class="hamburger hamburger-outer">
  <fa-icon [icon]="hamburgerIcon"></fa-icon>
</div>


<!--MODAL-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="!isRegisterMode" class="modal-title">Logowanie</h4>
    <h4 *ngIf="isRegisterMode" class="modal-title">Rejestracja</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--    <app-spinner *ngIf="isLoading"></app-spinner>-->
    <form [formGroup]="form" (ngSubmit)="submit(modal)">
      <div *ngIf="error" class="panel error-panel" role="alert">
        {{error}}
      </div>
      <div *ngIf="isRegisterMode" class="form-group">
        <label for="name">Imię</label>
        <input formControlName="name" class="form-control input-dark" id="name">
        <small class="text-danger" *ngIf="form.get('name').touched && form.get('name')?.value.length > 20">
          Imię może składać się maksymalnie z 20 znaków</small>
        <small class="text-danger" *ngIf="form.get('name').touched && form.get('name')?.value.length < 2">
          Imię musi składać sie conajmniej z dwóch znaków</small>
      </div>
      <div *ngIf="isRegisterMode" class="form-group">
        <label for="surname">Nazwisko</label>
        <input formControlName="surname" class="form-control input-dark"
               id="surname">
        <small class="text-danger" *ngIf="form.get('surname').touched && form.get('surname')?.value.length > 20">
          Nazwisko może składać się maksymalnie z 20 znaków</small>
        <small class="text-danger" *ngIf="form.get('surname').touched && form.get('surname')?.value.length < 2">
          Nazwisko musi składać sie conajmniej z dwóch znaków</small>
      </div>
      <div class="form-group">
        <label for="email">Adres email</label>
        <input formControlName="email" type="email"
               class="form-control input-dark" id="email" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input formControlName="password" type="password"
               [ngClass]="{'error-input': !!form.get('password')?.getError('error')}"
               class="form-control input-dark" id="password">
        <small class="text-danger"
               *ngIf="form.get('password').touched && form.get('password') && form.get('password').value?.length  < 5 && isRegisterMode">
          Hasło musi składać się z conajmniej 5 znaków</small>
      </div>
      <div *ngIf="isRegisterMode" class="form-group">
        <label for="passwordConfirm">Potwierdź hasło</label>
        <input formControlName="passwordConfirm" type="password"
               [ngClass]="{'error-input': !!form.get('passwordConfirm')?.getError('error')}"
               class="form-control input-dark" id="passwordConfirm">
        <small class="text-danger"
               *ngIf="form.get('passwordConfirm').touched && form.get('passwordConfirm') && form.get('passwordConfirm').value?.length < 5 && isRegisterMode">
          Hasło musi składać się z conajmniej 5 znaków</small>
      </div>
      <div class="submit-area d-flex justify-content-end">
        <button (click)="modal.dismiss('Cross click')" type="button" class="btn button-outlined mr-2">
          Anuluj
        </button>
        <button [disabled]="!form.valid" type="submit" class="btn button btn-submit">
          <span *ngIf="!isRegisterMode">Zaloguj</span>
          <span *ngIf="isRegisterMode">Zarejestruj się</span>
        </button>
        <a>
        </a>
      </div>
    </form>
  </div>
</ng-template>


