.side-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background-color: #00cfff;
  color: white;
  transition: transform .2s ease-in-out;
  user-select: none;
  box-shadow: -3px 0 18px 0 rgba(77, 77, 77, 1);
}
.side-bar--open {
  transform: translateX(0);
}

.hamburger {
  position: absolute;
  margin: 10px 15px;
  font-size: 40px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  top: 0;
  right: 0;
  z-index: 1;
}

.hamburger-outer {
  left: 0;
  transition: all .3s ease-in-out;
  width: 50px;
}

.rotate {
  color: white;
}

.elements {
  margin-top: 80px;
  padding: 15px;

  .element {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .element:hover {
    font-weight: bold;
  }
}

.footer {
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;

  .auth {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 15px auto 0 auto;
    width: 150px;
    border-radius: 15px;
    border: 1px solid white;
    height: 50px;
    padding: 4px;
    transition: all .1s ease-in-out;

    &:hover {
      background-color: white;
      color: #00cfff;
    }

    .icon {
      font-size: 30px;
    }

    .auth-text {
      font-size: 23px;
      padding: 5px;
    }
  }
}

form {
  max-width: 500px;

  .form-group {
    position: relative;
    width: 90%;
    left: 5%;
  }

  button {
    position: relative;
    left: 5%;
  }
}

.logout{
  margin-bottom: 30px !important;
}

.register {
  margin: 5px auto 25px;
  text-align: center;
  cursor: pointer;
}

.button {
  background-color: #00cfff;
  color: white;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #0095b8;
  }
}

.submit-area {
  width: 90%;
}

.button-outlined {
  border: 1px solid #00cfff;
  color: #00cfff;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #00cfff;
    color: white;
  }
}

.error-panel {
  font-weight: bold;
  position: relative;
  width: 90%;
  left: 5%;
  margin-bottom: 20px;
  color: #DC3545;
}

.error-input {
  border: 1px solid #DC3545;
}


@media only screen and (min-width: 600px) {
  .side-bar {
    width: 300px;
  }

}

@media only screen and (min-height: 700px) {
  .elements {
    margin-top: 130px;
  }
  .element {
    margin-bottom: 80px;
  }

}
