@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inria Sans', sans-serif;
}

