<form>
  <div class="form-group d-flex mb-3">
    <label for="search" class="p-2 font-weight-bold">Wyszukaj:</label>
    <input id="search" class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
  </div>

  <app-spinner *ngIf="(service.loading$ | async)"
               [isBig]="true"
               [marginTop]="'mt-5'">
  </app-spinner>

  <h5 *ngIf="(uni$ | async)?.length === 0 && !(service.loading$ | async)" id="no-result" class="text-center text-danger">
    BRAK WYNIKÓW
  </h5>
  <table [ngStyle]="{'opacity': (uni$ | async)?.length > 0 && !(service.loading$ | async) ? '1' : '0' }" class="table table-striped">
    <thead>
    <tr>
      <th *ngIf="isLoggedIn" scope="col">
        <span class="header-select"></span>
      </th>
      <th scope="col" sortable="name" (sort)="onSort($event)">
        <span class="header-select">Nazwa</span>
        <span *ngIf="service.state.sortColumn == 'name'">
           <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
           <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
          </span>
      </th>
      <th class="text-center" scope="col" sortable="city" (sort)="onSort($event)">
        <span class="header-select">Miasto</span>
        <span *ngIf="service.state.sortColumn == 'city'">
           <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
           <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
          </span>
      </th>
      <th class="text-center" scope="col" sortable="type" (sort)="onSort($event)">
        <span class="header-select">Typ uczelni</span>
        <span *ngIf="service.state.sortColumn == 'type'">
            <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
            <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
          </span>
      </th>
      <th class="text-center" scope="col" sortable="isPublic" (sort)="onSort($event)">
        <span class="header-select">Publiczna</span>
        <span *ngIf="service.state.sortColumn == 'isPublic'">
           <fa-icon *ngIf="service.state.sortDirection == 'asc'" [icon]="arrowUp"></fa-icon>
           <fa-icon *ngIf="service.state.sortDirection == 'desc'" [icon]="arrowDown"></fa-icon>
          </span>
      </th>
      <th class="text-center">
        Wybierz
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let uni of uni$ | async">
      <td class="text-center heart" *ngIf="isLoggedIn">
        <div #heartIcon>
            <span *ngIf="!isFav(uni._id)" ngbTooltip="Dodaj do ulubionych" id="heart" class="star heart-cont"
                  (click)="addToFav(uni._id, heartIcon)">
              <fa-icon [icon]="favouriteIcon"></fa-icon>
            </span>
          <span *ngIf="isFav(uni._id)" ngbTooltip="Usuń z ulubionych" id="heart-delete" class="star text-danger heart-cont"
                (click)="removeFormFav(uni._id, heartIcon)">
              <fa-icon [icon]="favouriteIconChecked"></fa-icon>
            </span>
        </div>
      </td>
      <td>
        <ngb-highlight [result]="uni.name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight [result]="uni.city" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight [result]="uni.type" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="text-center">
        <ngb-highlight [result]="uni.isPublic" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td class="select-uni text-center">
          <span ngbTooltip="Przejdź do prowadzących" (click)="navigateToUni(uni._id)"><fa-icon
            [icon]="selectIcon"></fa-icon></span>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="(uni$ | async)?.length > 0 && !(service.loading$ | async)" class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</form>
