form {
  position: relative;
  left: 2%;
  width: 96%;
  margin-bottom: 20px;

  .header-select {
    cursor: pointer;
    margin-right: 5px;
  }

  input {
    width: 200px;
  }

  .select-uni {
    span {
      cursor: pointer;
      font-size: 20px;

    }
  }
}
.heart {
  position: relative;
  max-width: 30px;
}
.heart-cont {
  position: absolute;
  max-width: 30px;
  left: 65%;
  top: 46%;
  transform: translate(-50%, -50%);
}
.heart-Animation {
  animation: heartAnimation linear 1s;
}
@keyframes heartAnimation {
  0% {
    font-size: 16px;

  }
  15% {
    font-size: 20px;
  }
  25% {
    font-size: 16px;
  }
  50% {
    font-size: 16px;
  }
  60% {
    font-size: 20px;
  }
  80% {
    font-size: 16px;
  }
  90% {
    font-size: 20px;
  }
  100% {
    font-size: 16px;
  }
}
ngb-pagination ::ng-deep ul > li.active  {
  a{
    background-color: #00cfff !important;
    border-color: #00cfff !important;
    z-index: 0 !important;
  }
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #00cfff;
}

ngb-pagination ::ng-deep ul > li.disabled > a {
  color: rgba(115, 115, 115, 0.89);
}

.star {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  form {
    position: relative;
    left: 10%;
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  form {
    position: relative;
    left: 15%;
    width: 70%;
  }
}
